* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url("./images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
}

header h1 {
  text-align: center;
  color: white;
  margin: 0;
  font-size: 2.5em;
  flex-grow: 1;
}

header h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 1em;
  flex-grow: 1;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  position: absolute;
  top: 20px;
  right: 20px;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  width: 80%;
  max-width: 800px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 100px;
}

footer {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.9em;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form > * {
  flex: 1 1 45%;
  margin: 10px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input,
select,
textarea {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  height: 100px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
