<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="static/aboutme.css">
</head>
<body>
    <header>
        <h1>About Me</h1>
        <a href="/">Home</a>
    </header>

    <div class="container">
        <img class="profile-pic" src="./static/images/suit.png" alt="Profile Picture">
        <p>Max Debin (DrMaxD) is not a doctor. I am a student attending Marist college. I am majoring in Cybersecurity with a minor in
            Computer Science, Information Technology, Information Systems, and Music. I have always known I wanted to do something with
            technology for my career, however what exactly I would do has always been changing. I've gone PC hardware engineer, to software developer,
            video game designer, before deciding to follow the path of cybersecurity, which led me to attending Marist College due to their cybersecurity program.
            I have always been someone who has tried to get involved with as many things as possible, to create and explore many different paths and opportunities.
        </p>
    </div>
    <br>
    <footer>
        &copy; 2024 Max Debin. All rights reserved.
    </footer>
</body>
</html>
