<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Max Debin</title>
    <link rel="stylesheet" href="static/index.css" />
  </head>
  <body>
    <header>Max Debin</header>

    <section>
      <nav>
        <ul>
          <li><a href="aboutme">About Me</a></li>
          <br />
          <li><a href="projects">Projects</a></li>
          <br />
          <li><a href="resume">Resume</a></li>
          <br />
          <li><a href="contactme">Contact Me</a></li>
        </ul>
      </nav>

      <article>
        <p>
          This is the official webpage for Max Debin. The primary purpose of
          this site is to help build a portfolio and help me advertise myself
          for the future.
        </p>
      </article>
    </section>

    <div class="social-links">
      <a href="https://www.linkedin.com/in/max-debin/"
        ><img src="./static/images/linkedin.png" alt="LinkedIn"
      /></a>
      <a href="https://discord.gg/AazcJxmk"
        ><img src="./static/images/discord.png" alt="Discord"
      /></a>
      <a href="https://github.com/DrMaxD"
        ><img src="./static/images/github.png" alt="GitHub"
      /></a>
      <a href="https://www.youtube.com/channel/UChIUQN-AASJhna4SUw4itfQ"
        ><img src="./static/images/drmdl2.png" alt="YouTube"
      /></a>
    </div>

    <footer>&copy; 2024 Max Debin. All rights reserved.</footer>
  </body>
</html>
