<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="static/resume.css" />
  </head>
  <body>
    <header>
      <h1>Resume</h1>
      <a href="/">Home</a>
    </header>
    <div class="container">
      <p>
        I will fill in this section later, this will be where I talk about
        myself.
      </p>

      <!-- 
        <embed src="path/to/your/resume.pdf" width="100%" height="600px" />
        <br>
        <a href="path/to/your/resume.pdf" download>Download my Resume</a>
        -->
    </div>
    <footer>&copy; 2024 Max Debin. All rights reserved.</footer>
  </body>
</html>
