<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="static/resume.css" />
  </head>
  <body>
    <header>
      <h1>Resume</h1>
      <a href="/">Home</a>
    </header>
    <div class="container">
      <iframe src="https://drive.google.com/file/d/1IK-KFtgMPNEGcxdjjnrbxuuYJM_2cb1l/preview" width="100%" height="600px"></iframe>
      <br />
      <a href="https://drive.google.com/uc?id=1IK-KFtgMPNEGcxdjjnrbxuuYJM_2cb1l&export=download">Download my Resume</a>
    </div>
    <footer>&copy; 2024 Max Debin. All rights reserved.</footer>
  </body>
</html>
