<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
    <link rel="stylesheet" href="static/css/thankyou.css" />
  </head>
  <body>
    <header>
      <h1>Thank You</h1>
      <a href="/">Home</a>
    </header>
    <div class="container">
      <p>
        Thank you for reaching out. I will try to respond as soon as possible -
        Max Debin
      </p>
    </div>
    <footer>&copy; 2024 Max Debin. All rights reserved.</footer>
  </body>
</html>
